.main-table {
  width: 100%;
  max-width: 600px;
  height: 600px;
}
table {
  border-collapse: collapse !important;
}
td {
  min-height: 50px;
  background-color: #ccc;
  border: 4px solid black;
  width: 100px;
  padding: 0;
}
.yellow {
  background: yellow;
}
.red {
  background: red;
  width: 60px;
  height: 60px;
}
.white {
  background: white;
}
.blue {
  background: blue;
  width: 60px;
  height: 60px;
}
.black {
  background: black;
  height: 120px;
}
